<section class="help-section help-nav">
    <div class="help-wrap">
        <div class="row">
            <div class="help-item col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 col-xs-12">
                <img src="assets/img/help/move.png" alt="">
                <div class="help-text">
                    <span>MOVE THE MOUSE AROUND TO HEAR</span>
                </div>
            </div>
            <div class="help-item col-md-2 col-sm-2 col-xs-12">
                <img src="assets/img/help/blink.png" alt="">
                <div class="help-text">
                    <span>LIKE AN EYE BLINK, MOVE THE MOUSE UP AND DOWN</span>
                </div>
            </div>
            <div class="help-item middle-item col-md-2 col-sm-2 col-xs-12">
                <img src="assets/img/help/audio.png" alt="">
                <div class="help-text">
                    <span class="middle-icon">TURN AUDIO ON !</span>
                </div>
            </div>
            <div class="help-item col-md-2 col-sm-2 col-xs-12">
                <img src="assets/img/help/click.png" alt="">
                <div class="help-text">
                    <span>CLICK ON THE FILM</span>
                    <span>BUT DOUBLE CLICK ON THE SPHERE !</span>
                </div>
            </div>
            <div class="help-item col-md-2 col-sm-2 col-xs-12">
                <img src="assets/img/help/drag.png" alt="">
                <div class="help-text">
                    <span>DRAG TO ROTATE</span>
                    <span>THE SPHERE</span>
                </div>
            </div>
        </div>
    </div>
    <!--<span class="help-text-bot">TO PAUSE PRESS ESC ON THE KEYBOARD</span>-->
</section>
