<section class="help-section">
    <div class=" ">
        <div class="row info">
            <div class="col-sm-3" style="text-align: right;">
                <span style=" font-family: RawengulkBold">
                   A blinking eye lingers between hazy reminiscences and hidden childhood secrets. Octavia and her fetish idol become fields for exploration.
                </span>
            </div>
            <div class="col-sm-3">
                <p>
                    Octavia is an interactive film where the viewer can
                    explore a sensory narration and delve deeper in the
                    interaction between the subliminal elements of the story and its characters.
                    A simulation of the blink of an eye, the manipulation of a sphere, hidden sounds are all fragments entangled in the experience of Octavia.
                </p>
            </div>
            <div class="col-sm-3">
                <p>Attempting to simulate and exasperate human senses is a direction we will consider to explore further in future VR and interactive projects. </p>
                <p>TECHNOLOGY WebGL, Javascript, ThreeJS, Web Audio API </p>
                <p>
                    This film runs with WebGL web technology and brings a mix of video, 3D, real time video effects and dynamic audio to create a feeling of fractured time, continuous deformation and multiple levels of view.
                </p>
            </div>
            <div class="col-sm-3">
               <span class="optional">Direction and Technical Direction:</span>
                 <span class="value-info">SUROGAAT / Giacomo Favaron, Paulina Stefanovic</span>

                <span class="optional">Production, Art Direction, Editing and Sound:</span>
                <span class="value-info"> SUROGAAT</span>

                <span class="optional"> WebGL coding:</span>
                <span class="value-info"> Ruslan Dzhashymov</span>

                <span class="optional">Octavia:</span></span>
                <span class="value-info"> Yulia </span>

                <span class="optional">Doll:</span>
                <span class="value-info"> Magdalena </span>

                <span class="optional"> Thanks to</span>
                 <span class="value-info">2morrowmodels management</span>

            </div>
        </div>
    </div>

</section>